/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*************** CUSTOM CSS *****************/

html{
    font-family: benton-sans, Helvetica, Arial, sans-serif;
    font-weight: 500;
}

body{
    font-size: 21px;
    line-height: 1.6;
    color: #ffffff;
}

h1{ 
    font-family: orpheuspro, serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
    margin-bottom: 10px;
    margin-top: 30px;
    color: #ffffff;
    padding: 2% 4% 2% 2%;
}

page-title{
    font-size: 32px;
    margin-bottom: 30px;
}

header h1{
    font-size: 20px;
    color: #e4002b;
    float: left;
}

img{
    flex-wrap: wrap;
    float: right;
    height: auto;
    width: 6%;
    padding: 3%;
    margin-top: 20px;
    margin-bottom: 40px; 
    position: sticky;
    z-index: -150;
}

p{
    margin-bottom: 20px;
}

.main-wrapper{
    margin-bottom: 40px;
    position: absolute;
    z-index: 200;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}

.lrg-c2{
    grid-column: span 2;
    min-height: 1px;
    position: relative;
}

.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    flex-wrap: nowrap;
}

.content-centered{
/*    display: grid;*/
    grid-column: span 7;
    grid-template-columns: repeat(7, 1fr);
    
}

.content{
    position: relative;
}


.clear{
    clear: both;
}


.p{
    margin-bottom: 30px;
}

.global-footer{
    border-top:1px solid #959798;
    padding-top: 3.75rem;
}

.global-footer_wrapper{
    margin: 0 auto;
    border-bottom: 0;
    padding-bottom: 0;
}

.global-footer_copyright{
    padding-bottom: 40px;
}

section about{
    display: inline-block;
    float: left;
}

.vertical-text{
    writing-mode: vertical-rl;
/*    text-orientation: mixed;*/
    
}

#today{
    font-family: orpheuspro, serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.11;
    color: #e4002b;
    border-width: 0px;
    float: right;
    bottom: 10px;
    background: transparent;
    position: inherit;
    z-index: -150;
    
}


/************ BUTTON **************/


div a{
    background-color: #a2a2a2;
    display: inline-block;
    padding: 1% 3% 1% 3%;
    box-sizing: border-box;
    border-radius: 25px;
    text-align: center;
    color: #f2f2f2;
    margin-bottom: 20px;
    transition: .2s linear all;
    text-decoration:none;
}

div a:hover{
    background-color: #e4002b;
}

@keyframes go{
    0% {background: #a2a2a2}
    50% {background: #E687A5;}
    100% {background: #e4002b;}
}

section a.go{
    animation: go 2s;
    animation-delay: .5s;
    margin: 0 auto;
}

section a#button.go{
    animation: go 2s;
    animation-direction: reverse;
    transform-origin: top left;
}

.hide{
    display: none;
}


.rect{
    z-index: 100;
    position: absolute;
    opacity: 0.4;
    width: 100vw;
    height: 100vh;
}

.three{
    position: absolute;
    z-index: -200;
}

/*************** NAV BAR *****************/
/*

nav{
    width: 100%;
    background-color: none;
    padding: 2% 1% 0.5% 2%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: block;
    position: sticky;
    z-index: 200;
}

nav ul{
    margin-bottom: 2%;
}

nav ul li {
    float: left;
    text-align: left;
    padding-left; 10%;
    padding-right: 5%;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

nav ul li a: hover{
    color: #ffffff;
    text-decoration: underline;
    transition: all 0.2 ease;
*/







